<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="es"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>{% block title %}La Niña del Mezcal{% endblock %}</title>
       
        <meta property="og:title" content="La niña del mezcal" />
        <meta property="og:type" content="album" />
        <meta property="og:url" content="{{url('homepage')}}" />
        <meta property="og:image" content="{{asset('images/logo_header.jpg')}}" />
        <meta property="og:site_name" content="laninadelmezcal.com" />
        <!--meta property="fb:admins" content="USER_ID1,USER_ID2"/-->
        <meta property="og:description" content="La niña del mezcal." />

        <meta name="twitter:card" value="summary">
        <meta name="twitter:url" value="{{url('homepage')}}"/>
        <meta name="twitter:title" value="La niña del mezcal">
        <meta name="twitter:description" value="La niña del mezcal."/>
        <meta name="twitter:image" value="{{asset('images/logo_header.jpg')}}"/>
        <meta name="twitter:site" value="@laninadelmezcal"/>
        <meta name="twitter:creator" value="@richpolis"/>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
        <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        {% endblock %}

    </head>
    <body>
        <!--[if lt IE 7]>
        <p class=chromeframe>Your browser is <em>ancient!</em> 
        <a href="http://browsehappy.com/">Upgrade to a different browser</a> or 
        <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.
        </p>
        <![endif]-->
        <div id="contenedor">
            <header>
            <figure id="logo">
                <a href="{{path('homepage')}}">
                    <img src="{{asset('images/keyarts/logo_header.png')}}" alt="">
                </a>
            </figure>
            <span id="nav-left">
                &nbsp;
            </span>
            <nav>
                <ul>
                    <li><a href="{{path('about_la_nina')}}">about la niña</a></li>
                    <li><a href="{{path('the_mezcal')}}">the mezcal</a></li>
                    <li><a href="">the blog</a></li>
                    <li><a href="">events</a></li>
                    <li><a href="{{path('find_la_nina')}}">find la niña</a></li>
                    <li><a href="">shop online</a></li>
                    <li><a href="{{path('frontend_contacto')}}">contact</a></li>
                </ul>
            </nav>
            <span id="nav-right">
                &nbsp;
            </span>
            <div id="lenguajes">
                <span id="lenguaje-es">
                    <a href="">
                        español    
                    </a>
                </span>
                <span id="lenguaje-en">
                    <a href="">
                        english    
                    </a>
                </span>
            </div>
            <div id="redes-sociales">
                <figure id="red-social-twitter">
                    <a href="">
                        <img src="{{asset('images/keyarts/twitter.png')}}" alt=""/>    
                    </a>
                </figure>
                <figure id="red-social-facebook">
                    <a href="">
                        <img src="{{asset('images/keyarts/facebook.png')}}" alt=""/>    
                    </a>
                </figure>
            </div>
        </header>
        {% block body %}{% endblock %}
        <footer>
            <div id="contenido-footer">
                Copyright 2013 La Niña del Mezcal info@laniñadelmezcal.com  
            </div>
            <figure id="desarrollado">
                <a href="mailto:rafael@interactivevalley.com">
                    <img src="{{asset('images/developed_negro.png')}}" alt="developed for Interactive Valley">
                </a>
            </figure>
            <figure id="facebook-footer">
                <a href="">
                    <img src="{{ asset('images/keyarts/facebook.png') }}" alt="facebook">
                </a>
            </figure>
            <figure id="twitter-footer">
                <a href="">
                    <img src="{{ asset('images/keyarts/twitter.png') }}" alt="twitter">
                </a>
            </figure>
        </footer>    
        </div>
        {% block javascripts %}
        <script type="text/javascript" src="{{asset('js/jquery-1.8.3.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('js/main.js')}}"></script>
        {% endblock %}
   </body>
</html>
