{% extends "FrontendBundle::layout.html.twig" %}

{% block stylesheets %}
{{parent()}}
<link rel="stylesheet" href="{{ asset('css/prettyPhoto.css') }}">
<link rel="stylesheet" href="{{ asset('css/jquery.bxslider.css') }}">
<style type="text/css">
.bx-wrapper .bx-viewport{
  background: none;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}

</style>
{% endblock %}

{% block body %}

{% set locale = app.request.locale %}

<section id="contenido">
   <article class="publicaciones-about">
         <figure id="foto-la-nina">
               <img src="{{asset('images/keyarts/fotos/la-nina-vintage-960x460.jpg')}}" alt="foto la niña">
         </figure>
         {% for publicacion in publicaciones %}
           {% if publicacion.slug == "about-la-nia" %}
            <h2 class="titulo-article">{{publicacion.titulo(locale)}}</h2>
            {{publicacion.descripcion(locale)|raw}}
            {% endif %}
         {% endfor %}
   </article>
   <article class="publicaciones-about">
         {% for publicacion in publicaciones %}
           {% if publicacion.slug == "the-story-1" %}
            <h2 class="titulo-article">{{publicacion.titulo(locale)}}</h2>
            {{publicacion.descripcion(locale)|raw}}
            {% endif %}
         {% endfor %}
         
         <div id="galeria-about" class="galeria">
               <div class="contenedor-galeria about">
                  <ul class="slider1">
                     {% for galeria in galerias %} 
                     <li class="item-regular">
                         <a href="{{galeria.webPath}}" rel="prettyPhoto[pp_gal]" title="{{galeria.descripcion}}">
                             <img src="{{galeria.thumbnailWebPath}}" alt="{{galeria.titulo}}">
                         </a>
                     </li>
                     {% endfor %}
                  </ul>
               </div>
               <figure class="control-galeria-izquierda">
                  
               </figure>
               <figure class="control-galeria-derecha">

               </figure>
         </div>
         {% for publicacion in publicaciones %}
           {% if publicacion.slug == "the-story-2" %}
            {{publicacion.descripcion(locale)|raw}}
            {% endif %}
         {% endfor %}
   </article>
   <article class="publicaciones-about">
         {% for publicacion in publicaciones %}
           {% if publicacion.slug == "mision-vision-and-values" %}
            <h2 class="titulo-article">{{publicacion.titulo(locale)}}</h2>
            {{publicacion.descripcion(locale)|raw}}
            {% endif %}
         {% endfor %}
   </article>
   <div id="redes-sociales-pagina">
          <figure id="red-social-pagina-facebook">
            <a target="_blank" href="http://www.facebook.com/sharer.php?u={{url('about_la_nina',{'_locale':locale})}}">
                <img src="{{asset('images/keyarts/facebook_share.png')}}" alt="compartir en facebook">     
            </a>
         </figure>
         <figure id="red-social-pagina-twitter">
              <a href="http://twitter.com/home?status={{url('about_la_nina',{'_locale':locale})}}{{ " Via: @laninadelmezcal"|url_encode(true) }}." target="_blank">
                  <img src="{{asset('images/keyarts/twitter_share.png')}}" alt="compartir en twitter">
              </a>
         </figure>
   </div>
</section>

{% endblock %}

{% block javascripts %}
{{parent()}}
<script type="text/javascript" src="{{asset('js/jquery.bxslider.min.js')}}"></script>
<script type="text/javascript" src="{{asset('js/jquery.prettyPhoto.js')}}"></script>  
<script type="text/javascript" src="{{asset('js/sfrichpolis.js')}}"></script> 
<script>
   $(document).ready(function(){
     $.configPrettyPhoto();
     
     $('.slider1').bxSlider({
       slideWidth: 290,
       minSlides: 1,
       maxSlides: 3,
       slideMargin: 5,
       nextSelector: '.control-galeria-izquierda',
       prevSelector: '.control-galeria-derecha',
       nextText: '&nbsp;',
       prevText: '&nbsp;',
       pager:false
     });
   });
</script>
{% endblock %}