{% extends "FrontendBundle::layout.html.twig" %}

{% block stylesheets %}
{{parent()}}
<link rel="stylesheet" href="{{ asset('css/jquery.qtip.min.css') }}">
<link rel="stylesheet" href="{{ asset('css/prettyPhoto.css') }}">
{% endblock %}

{% set locale = app.request.locale %}

{% block redes_sociales %}
        <meta property="og:title" content="La niña del mezcal" />
        <meta property="og:type" content="album" />
        <meta property="og:url" content="{{url(pagina_actual,{'_locale':locale})}}" />
        <meta property="og:image" content="https://si0.twimg.com/profile_images/378800000027379417/b61ab62c160dda0a8f748fd2500d8656.jpeg" />
        <meta property="og:site_name" content="laninadelmezcal.com" />
        <!--meta property="fb:admins" content="USER_ID1,USER_ID2"/-->
        <meta property="og:description" content="La niña del mezcal." />

        <meta name="twitter:card" value="summary">
        <meta name="twitter:url" value="{{url(pagina_actual,{'_locale':locale})}}"/>
        <meta name="twitter:title" value="La niña del mezcal">
        <meta name="twitter:description" value="La niña del mezcal."/>
        <meta name="twitter:image" value="https://si0.twimg.com/profile_images/378800000027379417/b61ab62c160dda0a8f748fd2500d8656.jpeg"/>
        <meta name="twitter:site" value="@laninadelmezcal"/>
        <meta name="twitter:creator" value="@richpolis"/>
{% endblock %}


  
{% block body %}
<section id="contenido" class="botellas" ng-controller="BotellasController" style="max-height: 900px; opacity: 0;">
   <div class="galeria">
      <figure class="control-galeria-izquierda">
          <a class="bx-prev" href="{{path(botella_anterior,{'_locale':locale})}}#botella">&nbsp;</a>
      </figure>
      <article id="botella">
      
            <div class="descripcion-botella">
               <header>
                  <h1>{% trans %}bottle tour{% endtrans %}</h1>
                  <h2 class="{{botella.clase}}">{{botella.botella}}</h2>   
               </header>
               <div id="descripcion-botella-cuerpo">
                  {{botella.descripcion(locale) | raw }}  
               </div>
            </div>
            <figure class="botella">
                <img src="{{botella.webPath}}" alt="{{botella.botella}}">
            </figure>
              {% for mensaje in botella.mensajes %}
                {% if not mensaje.isHowToMix %}
                <div class="mensaje-toltip espadin {{mensaje.clase}}" rel="tip" title="{{mensaje.mensaje(locale)|raw}}" style="{{mensaje.style}}">
                      {{mensaje.titulo(locale)}}
                </div>
                {% else %}
                <div id="howToMix" class="mensaje-toltip espadin {{mensaje.clase}}" style="{{mensaje.style}}">
                    <span onclick="javascript:generarHowToMix()" style="cursor:pointer;">{{mensaje.titulo(locale)}}</span>
                </div>
                {% endif %}
              {% endfor %}
              
      </article>
      <figure class="control-galeria-derecha">
            <a class="bx-next" href="{{path(botella_siguiente,{'_locale':locale})}}#botella">&nbsp;</a>
      </figure>   
   </div>
   <figure id="boton-comprar">
      <a href="">
         {% trans %}buy now{% endtrans %}
      </a>
      <ul class="menu-comprar">
        <li><a href="{{botella.linkShopMexico}}" target="_blank">méxico</a></li>
        <li><a href="{{botella.linkShopUsa}}" target="_blank">usa</a></li>
      </ul>
   </figure>

   <div id="redes-sociales-pagina" class="derecha">
         <figure id="red-social-pagina-facebook">
            <a target="_blank" href="http://www.facebook.com/sharer.php?u={{url(pagina_actual,{'_locale':locale})}}">
                <img src="{{asset('images/keyarts/facebook_share.png')}}" alt="compartir en facebook">     
            </a>
         </figure>
         <figure id="red-social-pagina-twitter">
              <a href="http://twitter.com/home?status={{url(pagina_actual,{'_locale':locale})}}{{ " Via: @laninadelmezcal"|url_encode(true) }}." target="_blank">
                  <img src="{{asset('images/keyarts/twitter_share.png')}}" alt="compartir en twitter">
              </a>
         </figure>
   </div>
   <figure id="menus-botellas">
      <ul>
         <li><a href="{{path('botella_espadin',{'_locale':locale})}}" class="{%if(pagina_actual=='botella_espadin')%}active{%endif%} espadin">espadin</a></li>
         <li><a href="" class="{%if(pagina_actual=='madrecuixe')%}active{%endif%} madrecuixe">madrecuixe</a></li>
         <li><a href="" class="{%if(pagina_actual=='tobala')%}active{%endif%} tobala">tobala</a></li>
         <li><a href="" class="{%if(pagina_actual=='tepextate')%}active{%endif%} tepextate">tepextate</a></li>
         <li><a href="" class="{%if(pagina_actual=='pechuga')%}active{%endif%} pechuga">pechuga</a></li>
         <li><a href="{{path('botella_primario',{'_locale':locale})}}" class="{%if(pagina_actual=='botella_primario')%}active{%endif%} primario-mezcal">primario mezcal</a></li>
         <li><a href="" class="{%if(pagina_actual=='primario-licor')%}active{%endif%} primario-licor">primario licor</a></li>
      </ul>
   </figure>
</section>

{% endblock %}

{% block javascripts %}
   {{parent()}}
<!--script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js">
   </script>
<script src="{{asset(app_angular)}}"></script-->   
<script src="{{asset('js/jquery.qtip.min.js')}}"></script>
<script src="{{asset('js/jquery.prettyPhoto.js')}}"></script>  
<script src="{{asset('js/sfrichpolis.js')}}"></script>  
<script>
var objImagenes= [
  {% for galeria in galerias %}  
  {
    titulo: '{{galeria.titulo}}',
    descripcion: '{{galeria.descripcion|raw}}',
    imagen: '{{galeria.webPath}}',
  },
  {% endfor %}
];    
    
function generarHowToMix(){
  var titulos=[],imagenes=[],descripciones=[],contador;
  for(contador=0;contador<objImagenes.length;contador++){
    titulos[contador]=objImagenes[contador].titulo;
    imagenes[contador]=objImagenes[contador].imagen;
    descripciones[contador] =objImagenes[contador].descripcion;
  }
  $.prettyPhoto.open(imagenes,titulos,descripciones);
} 
$(document).ready(function() {
  $.configPrettyPhoto();
  $('[rel=tip]').qtip({
      content: { 
        text: true
             },
      position: {
        my: 'top center',  // Position my top left...
        at: 'bottom center', // at the bottom right of...
        target: 'event'
      },
      show: {
        event: 'click mouseenter',
        solo: true
      },
      hide: {
        event: 'unfocus'
      },
      style: {
        classes: 'qtip-light qtip-bootstrap'
      }
    });
    $("section").animate({'opacity':1},"slow");

});

</script>
{% endblock %}