{% extends "FrontendBundle::layout.html.twig" %}

{% block stylesheets %}
{{parent()}}
<link rel="stylesheet" href="{{ asset('css/jquery.qtip.min.css') }}">
<link rel="stylesheet" href="{{ asset('css/prettyPhoto.css') }}">
{% endblock %}

{% block body %}
<section id="contenido" class="botellas" ng-controller="BotellasController">
   <div class="galeria">
      <figure class="control-galeria-izquierda">
          <a class="bx-prev" href="{{path(botella_anterior)}}">&nbsp;</a>
      </figure>
      <article id="botella">
      {% raw %}
            <div class="descripcion-botella">
               <header>
                  <h1>bottle tour</h1>
                  <h2 class="{{botella.clase}}">{{botella.botella}}</h2>   
               </header>
               <p>
                  {{botella.descripcion}}
               </p>
            </div>
            <figure class="botella">
                <img src="{{botella.imagen}}" alt="{{botella.titulo}}">
            </figure>
              <div ng-repeat="mensaje in botella.mensajes" class="mensaje-toltip {{botella.clase}} {{mensaje.clase}}" rel="tip" title="{{mensaje.mensaje}}" style="{{mensaje.style}}">
                      {{mensaje.titulo}}
              </div>  
            <div id="howToMix" class="mensaje-toltip {{botella.clase}} {{botella.howToMix.clase}}" style="{{botella.howToMix.style}}">
                <span onclick="javascript:generarHowToMix({{botella.howToMix.imagenes}})" style="cursor:pointer;">{{botella.howToMix.titulo}}</span>
            </div>

      {% endraw %}
      </article>
      <figure class="control-galeria-derecha">
            <a class="bx-next" href="{{path(botella_siguiente)}}">&nbsp;</a>
      </figure>   
   </div>
   <figure id="boton-comprar">
      <a href="">
         comprar
      </a>
      <ul class="menu-comprar">
        <li><a href="">mexico</a></li>
        <li><a href="">usa</a></li>
      </ul>
   </figure>

   <div id="redes-sociales-pagina" class="derecha">
         <figure id="red-social-pagina-facebook">
               <img src="{{asset('images/keyarts/facebook_share.png')}}" alt="compartir en facebook">
         </figure>
         <figure id="red-social-pagina-twitter">
               <img src="{{asset('images/keyarts/twitter_share.png')}}" alt="compartir en twitter">
         </figure>
   </div>
   <figure id="menus-botellas">
      <ul>
         <li><a href="{{path('botella_espadin')}}" class="{%if(pagina_actual=='espadin')%}active{%endif%} espadin">espadin</a></li>
         <li><a href="" class="{%if(pagina_actual=='madrecuixe')%}active{%endif%} madrecuixe">madrecuixe</a></li>
         <li><a href="" class="{%if(pagina_actual=='tobala')%}active{%endif%} tobala">tobala</a></li>
         <li><a href="" class="{%if(pagina_actual=='tepextate')%}active{%endif%} tepextate">tepextate</a></li>
         <li><a href="" class="{%if(pagina_actual=='pechuga')%}active{%endif%} pechuga">pechuga</a></li>
         <li><a href="{{path('botella_primario')}}" class="{%if(pagina_actual=='primario-mezcal')%}active{%endif%} primario-mezcal">primario mezcal</a></li>
         <li><a href="" class="{%if(pagina_actual=='primario-licor')%}active{%endif%} primario-licor">primario licor</a></li>
      </ul>
   </figure>
</section>

{% endblock %}

{% block javascripts %}
   {{parent()}}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js">
   </script>
<script src="{{asset(app_angular)}}"></script>   
<script src="{{asset('js/jquery.qtip.min.js')}}"></script>
<script src="{{asset('js/jquery.prettyPhoto.js')}}"></script>  
<script src="{{asset('js/sfrichpolis.js')}}"></script>  
<script>
function generarHowToMix(objImagenes){
  var titulos=[],imagenes=[],descripciones=[],contador;
  for(contador=0;contador<objImagenes.length;contador++){
    titulos[contador]="Imagen "+(contador+1);
    imagenes[contador]=objImagenes[contador].imagen;
    descripciones[contador] ="";
  }
  $.prettyPhoto.open(imagenes,titulos,descripciones);
} 
$(document).ready(function() {
  $.configPrettyPhoto();
  $('[rel=tip]').qtip({
      content: { 
        text: true
             },
      position: {
        my: 'top center',  // Position my top left...
        at: 'bottom center', // at the bottom right of...
        target: 'event'
      },
      show: {
        event: 'click mouseenter',
        solo: true
      },
      hide: {
        event: 'unfocus'
      },
      style: {
        classes: 'qtip-light qtip-bootstrap'
      }
    });
});

</script>
{% endblock %}