{% extends "FrontendBundle::layout.html.twig" %}

{% block stylesheets %}
{{parent()}}
<link rel="stylesheet" href="{{ asset('css/jquery.bxslider.css') }}">
<style type="text/css">
.bx-wrapper .bx-viewport{
  background: none;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}

</style>
{% endblock %}

{% block body %}
<section id="contenido">
   <article>
         <h2 class="titulo-article">{% trans %}where to find la niña{% endtrans %}</h2>
         <h2 class="titulo-galeria" style="margin: 16px 0 24px 0;">
             méxico
             <span>{% trans %}retail{% endtrans %}</span>
         </h2>
         <div id="galeria-mexico" class="galeria">
               <div class="contenedor-galeria">
                  <ul class="slider1">
                     <li class="item-small"><a href=""><img src="{{asset('images/keyarts/fotos/BACUS-300x155.jpg')}}" alt="imagen 1"></a></li>
                     <li class="item-small"><a href=""><img src="{{asset('images/keyarts/fotos/el-bebian-logo.jpg')}}" alt="imagen 2"></a></li>
                     <li class="item-small"><a href=""><img src="{{asset('images/keyarts/fotos/k-and-l.gif')}}" alt="imagen 3"></a></li>
                     <li class="item-small"><a href=""><img src="{{asset('images/keyarts/fotos/la-reforma1-300x111.jpg')}}" alt="imagen 4"></a></li>
                     <li class="item-small"><a href=""><img src="{{asset('images/keyarts/fotos/LOGO_CITY_MARKET.315165626_std.jpg')}}" alt="imagen 4"></a></li>
                  </ul>
               </div>
               <figure id="control-1" class="control-galeria-izquierda">
               </figure>
               <figure id="control-2" class="control-galeria-derecha">
               </figure>
         </div>
         <h2 class="titulo-galeria">
             {% trans %}restaurants & bars{% endtrans %}
         </h2>
         <div id="galeria-mexico-distribuidores" class="galeria distribuidores">
               <div class="contenedor-galeria">
                  <ul class="slider-distribuidores-1">
                     <li class="item-distribuidores">
                        <div class="contenido-galeria-distribuidores">
                           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, beatae maiores odit temporibus dolor quas illum. Perspiciatis, doloremque, incidunt ipsam obcaecati illo reprehenderit quo repellat rem minima tempore neque voluptas.</p>
                        </div>
                     </li>
                     <li class="item-distribuidores">
                        <div class="contenido-galeria-distribuidores">
                           <p>Eaque, voluptas, ducimus? Ut, incidunt, officiis tenetur dignissimos sit minima voluptas maxime eaque ea eligendi voluptatibus autem. Voluptas, ut, eius, ipsa, fuga commodi repudiandae cum quo unde totam similique officiis.</p>
                        </div>
                     </li>
                     <li class="item-distribuidores">
                        <div class="contenido-galeria-distribuidores">
                           <p>Natus, consequatur, repellat, vitae tempore deserunt quos odit optio blanditiis laborum placeat facilis quam beatae. Ratione, minus, laborum, temporibus vero animi a quos perspiciatis eum nihil ipsa aspernatur aliquid tempora!</p>
                        </div>
                     </li>
                  </ul>
               </div>
               <figure id="control-3" class="control-galeria-izquierda">
               </figure>
               <figure id="control-4" class="control-galeria-derecha">
               </figure>
         </div>
   </article>
   <article>
         <h2 class="titulo-galeria titulo-galeria-find">
            USA
            <span>{% trans %}retail{% endtrans %}</span>
         </h2>
         <div id="galeria-usa" class="galeria">
               <div class="contenedor-galeria">
                  <ul class="slider2">
                     <li class="item-small"><a href=""><img src="{{asset('images/keyarts/fotos/BACUS-300x155.jpg')}}" alt="imagen 1"></a></li>
                     <li class="item-small"><a href=""><img src="{{asset('images/keyarts/fotos/el-bebian-logo.jpg')}}" alt="imagen 2"></a></li>
                     <li class="item-small"><a href=""><img src="{{asset('images/keyarts/fotos/k-and-l.gif')}}" alt="imagen 3"></a></li>
                     <li class="item-small"><a href=""><img src="{{asset('images/keyarts/fotos/la-reforma1-300x111.jpg')}}" alt="imagen 4"></a></li>
                     <li class="item-small"><a href=""><img src="{{asset('images/keyarts/fotos/LOGO_CITY_MARKET.315165626_std.jpg')}}" alt="imagen 4"></a></li>
                  </ul>
               </div>
               <figure id="control-5" class="control-galeria-izquierda">
               </figure>
               <figure id="control-6" class="control-galeria-derecha">
               </figure>
         </div>
         <h2 class="titulo-galeria">
             {% trans %}restaurants & bars{% endtrans %}
         </h2>
         <div id="galeria-usa-distribuidores" class="galeria distribuidores">
               <div class="contenedor-galeria">
                  <ul class="slider-distribuidores-2">
                     <li class="item-distribuidores">
                        <div class="contenido-galeria-distribuidores">
                           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, beatae maiores odit temporibus dolor quas illum. Perspiciatis, doloremque, incidunt ipsam obcaecati illo reprehenderit quo repellat rem minima tempore neque voluptas.</p>
                        </div>
                     </li>
                     <li class="item-distribuidores">
                        <div class="contenido-galeria-distribuidores">
                           <p>Eaque, voluptas, ducimus? Ut, incidunt, officiis tenetur dignissimos sit minima voluptas maxime eaque ea eligendi voluptatibus autem. Voluptas, ut, eius, ipsa, fuga commodi repudiandae cum quo unde totam similique officiis.</p>
                        </div>
                     </li>
                     <li class="item-distribuidores">
                        <div class="contenido-galeria-distribuidores">
                           <p>Natus, consequatur, repellat, vitae tempore deserunt quos odit optio blanditiis laborum placeat facilis quam beatae. Ratione, minus, laborum, temporibus vero animi a quos perspiciatis eum nihil ipsa aspernatur aliquid tempora!</p>
                        </div>
                     </li>
                  </ul>
               </div>
               <figure id="control-7" class="control-galeria-izquierda">
               </figure>
               <figure id="control-8" class="control-galeria-derecha">
               </figure>
         </div>
   </article>
   <article>
         <h2 class="titulo-galeria titulo-galeria-find">
             {% trans %}distribution{% endtrans %}
         </h2>
         <div id="galeria-distribution-distribuidores" class="galeria distribuidores">
               <div class="contenedor-galeria">
                  <ul class="slider-distribuidores-3">
                     <li class="item-distribuidores">
                        <div class="contenido-galeria-distribuidores">
                           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, beatae maiores odit temporibus dolor quas illum. Perspiciatis, doloremque, incidunt ipsam obcaecati illo reprehenderit quo repellat rem minima tempore neque voluptas.</p>
                        </div>
                     </li>
                     <li class="item-distribuidores">
                        <div class="contenido-galeria-distribuidores">
                           <p>Eaque, voluptas, ducimus? Ut, incidunt, officiis tenetur dignissimos sit minima voluptas maxime eaque ea eligendi voluptatibus autem. Voluptas, ut, eius, ipsa, fuga commodi repudiandae cum quo unde totam similique officiis.</p>
                        </div>
                     </li>
                     <li class="item-distribuidores">
                        <div class="contenido-galeria-distribuidores">
                           <p>Natus, consequatur, repellat, vitae tempore deserunt quos odit optio blanditiis laborum placeat facilis quam beatae. Ratione, minus, laborum, temporibus vero animi a quos perspiciatis eum nihil ipsa aspernatur aliquid tempora!</p>
                        </div>
                     </li>
                  </ul>
               </div>
               <figure id="control-9" class="control-galeria-izquierda">
               </figure>
               <figure id="control-10" class="control-galeria-derecha">
               </figure>
         </div>
   </article>
</section>

{% endblock %}

{% block javascripts %}
{{parent()}}
<script type="text/javascript" src="{{asset('js/jquery.bxslider.min.js')}}"></script>
<script>
   $(document).ready(function(){
     $('.slider1').bxSlider({
       slideWidth: 195,
       minSlides: 1,
       maxSlides: 4,
       slideMargin: 10,
       nextSelector: '#control-1',
       prevSelector: '#control-2',
       nextText: 'Next',
       prevText: 'Prev',
       pager:false

     });
     $('.slider-distribuidores-1').bxSlider({
       slideWidth: 290,
       minSlides: 1,
       maxSlides: 4,
       slideMargin: 5,
       nextSelector: '#control-3',
       prevSelector: '#control-4',
       nextText: 'Next',
       prevText: 'Prev',
       infiniteLoop: false,
       hideControlOnEnd: true,
       pager:false
     });
     $('.slider2').bxSlider({
       slideWidth: 195,
       minSlides: 1,
       maxSlides: 4,
       slideMargin: 10,
       nextSelector: '#control-5',
       prevSelector: '#control-6',
       nextText: 'Next',
       prevText: 'Prev',
       pager:false
     });
     $('.slider-distribuidores-2').bxSlider({
       slideWidth: 290,
       minSlides: 1,
       maxSlides: 4,
       slideMargin: 5,
       nextSelector: '#control-7',
       prevSelector: '#control-8',
       nextText: 'Next',
       prevText: 'Prev',
       infiniteLoop: false,
       hideControlOnEnd: true,
       pager:false
     });
     $('.slider-distribuidores-3').bxSlider({
       slideWidth: 290,
       minSlides: 1,
       maxSlides: 4,
       slideMargin: 5,
       nextSelector: '#control-9',
       prevSelector: '#control-10',
       nextText: 'Next',
       prevText: 'Prev',
       infiniteLoop: false,
       hideControlOnEnd: true,
       pager:false
     });
   });
</script>
{% endblock %}