{% extends "FrontendBundle::layout.html.twig" %}

{% block stylesheets %}
{{parent()}}
<link rel="stylesheet" href="{{ asset('css/prettyPhoto.css') }}">
<link rel="stylesheet" href="{{ asset('css/jquery.bxslider.css') }}">
<style type="text/css">
.bx-wrapper .bx-viewport{
  background: none;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}

</style>
{% endblock %}

{% set locale = app.request.locale %}

{% block body %}
<section id="contenido">
   <article>
         <h2 class="titulo-article">{% trans %}where to find la niña{% endtrans %}</h2>
         <h2 class="titulo-galeria" style="margin: 16px 0 24px 0;">
             méxico
             <span>{% trans %}retail{% endtrans %}</span>
         </h2>
         <div id="galeria-mexico" class="galeria">
               <div class="contenedor-galeria">
                  <ul class="slider1">
                     {% for categoria in galerias %}
                      {% if categoria.slug == "galeria-tiendas-mxico" %}
                       {% for galeria in categoria.galerias %}
                        <li class="item-small">
                         <a href="{{galeria.webPath}}" rel="prettyPhoto[pp_gal]" title='{{galeria.descripcion | raw}}'>
                             <img src="{{galeria.thumbnailWebPath}}" alt="{{galeria.titulo}}"/>
                         </a>
                        </li>
                      {% endfor %}
                     {% endif %}
                    {% endfor %}
                  </ul>
               </div>
               <figure id="control-1" class="control-galeria-izquierda">
               </figure>
               <figure id="control-2" class="control-galeria-derecha">
               </figure>
         </div>
         <h2 class="titulo-galeria">
             {% trans %}restaurants & bars{% endtrans %}
         </h2>
         <div id="galeria-mexico-distribuidores" class="galeria distribuidores">
               <div class="contenedor-galeria">
                  <ul class="slider-distribuidores-1">
                     {% for categoria in categoriasPublicacion %}  
                     {% if categoria.slug == "where-to-find-mexico" %}
                        {% for publicacion in categoria.publicaciones %}
                        <li class="item-distribuidores">
                            <div class="contenido-galeria-distribuidores">
                                <h3>{{publicacion.titulo}}</h3>
                                {{publicacion.descripcion(locale)|raw}}
                            </div>
                        </li>
                        {% endfor %}
                     {% endif %}
                     {% endfor %}
                  </ul>
               </div>
               <figure id="control-3" class="control-galeria-izquierda">
               </figure>
               <figure id="control-4" class="control-galeria-derecha">
               </figure>
         </div>
   </article>
   <article>
         <h2 class="titulo-galeria titulo-galeria-find">
            USA
            <span>{% trans %}retail{% endtrans %}</span>
         </h2>
         <div id="galeria-usa" class="galeria">
               <div class="contenedor-galeria">
                  <ul class="slider2">
                     {% for categoria in galerias %}
                      {% if categoria.slug == "galeria-tiendas-usa" %}
                       {% for galeria in categoria.galerias %}
                        <li class="item-small">
                         <a href="{{galeria.webPath}}" rel="prettyPhoto[pp_gal]" title='{{galeria.descripcion | raw}}'>
                             <img src="{{galeria.thumbnailWebPath}}" alt="{{galeria.titulo}}"/>
                         </a>
                        </li>
                      {% endfor %}
                     {% endif %}
                    {% endfor %}
                  </ul>
               </div>
               <figure id="control-5" class="control-galeria-izquierda">
               </figure>
               <figure id="control-6" class="control-galeria-derecha">
               </figure>
         </div>
         <h2 class="titulo-galeria">
             {% trans %}restaurants & bars{% endtrans %}
         </h2>
         <div id="galeria-usa-distribuidores" class="galeria distribuidores">
               <div class="contenedor-galeria">
                  <ul class="slider-distribuidores-2">
                     {% for categoria in categoriasPublicacion %}  
                     {% if categoria.slug == "where-to-find-usa" %}
                        {% for publicacion in categoria.publicaciones %}
                        <li class="item-distribuidores">
                            <div class="contenido-galeria-distribuidores">
                                <h3>{{publicacion.titulo}}</h3>
                                {{publicacion.descripcion(locale)|raw}}
                            </div>
                        </li>
                        {% endfor %}
                     {% endif %}
                     {% endfor %}
                  </ul>
               </div>
               <figure id="control-7" class="control-galeria-izquierda">
               </figure>
               <figure id="control-8" class="control-galeria-derecha">
               </figure>
         </div>
   </article>
   <article>
         <h2 class="titulo-galeria titulo-galeria-find">
             {% trans %}distribution{% endtrans %}
         </h2>
         <div id="galeria-distribution-distribuidores" class="galeria distribuidores">
               <div class="contenedor-galeria">
                  <ul class="slider-distribuidores-3">
                     {% for categoria in categoriasPublicacion %}  
                     {% if categoria.slug == "where-to-find-distribuidores" %}
                        {% for publicacion in categoria.publicaciones %}
                        <li class="item-distribuidores">
                            <div class="contenido-galeria-distribuidores">
                                <h3>{{publicacion.titulo}}</h3>
                                {{publicacion.descripcion(locale)|raw}}
                            </div>
                        </li>
                        {% endfor %}
                     {% endif %}
                     {% endfor %}
                  </ul>
               </div>
               <figure id="control-9" class="control-galeria-izquierda">
               </figure>
               <figure id="control-10" class="control-galeria-derecha">
               </figure>
         </div>
   </article>
</section>

{% endblock %}

{% block javascripts %}
{{parent()}}
<script type="text/javascript" src="{{asset('js/jquery.bxslider.min.js')}}"></script>
<script type="text/javascript" src="{{asset('js/jquery.prettyPhoto.js')}}"></script>  
<script type="text/javascript" src="{{asset('js/sfrichpolis.js')}}"></script> 
<script>
   $(document).ready(function(){
    $.configPrettyPhoto();
     $('.slider1').bxSlider({
       slideWidth: 195,
       minSlides: 1,
       maxSlides: 4,
       slideMargin: 10,
       nextSelector: '#control-1',
       prevSelector: '#control-2',
       nextText: 'Next',
       prevText: 'Prev',
       pager:false

     });
     $('.slider-distribuidores-1').bxSlider({
       slideWidth: 300,
       minSlides: 1,
       maxSlides: 4,
       slideMargin: 5,
       nextSelector: '#control-3',
       prevSelector: '#control-4',
       nextText: 'Next',
       prevText: 'Prev',
       infiniteLoop: false,
       hideControlOnEnd: true,
       pager:false
     });
     $('.slider2').bxSlider({
       slideWidth: 195,
       minSlides: 1,
       maxSlides: 4,
       slideMargin: 10,
       nextSelector: '#control-5',
       prevSelector: '#control-6',
       nextText: 'Next',
       prevText: 'Prev',
       pager:false
     });
     $('.slider-distribuidores-2').bxSlider({
       slideWidth: 300,
       minSlides: 1,
       maxSlides: 4,
       slideMargin: 5,
       nextSelector: '#control-7',
       prevSelector: '#control-8',
       nextText: 'Next',
       prevText: 'Prev',
       infiniteLoop: false,
       hideControlOnEnd: true,
       pager:false
     });
     $('.slider-distribuidores-3').bxSlider({
       slideWidth: 300,
       minSlides: 1,
       maxSlides: 4,
       slideMargin: 5,
       nextSelector: '#control-9',
       prevSelector: '#control-10',
       nextText: 'Next',
       prevText: 'Prev',
       infiniteLoop: false,
       hideControlOnEnd: true,
       pager:false
     });
   });
</script>
{% endblock %}